<!DOCTYPE html>
<html>
<head>


</head>
<body>
    <center>
        <table border="1" width="700">
            <tr>
            <td bgcolor="lightblue" colspan="2" align="center">Academic Experience</td><td bgcolor="lightblue" align="center">Year Awarded</td>
            </tr>
            <tr>
            <td rowspan="2" align="center" width="200">Bachelor Of Engineering</td><td align="center">Zhejiang University of Technology</td><td align="center">2017</td>
            </tr>
            <tr>
            <td bgcolor="lightblue" colspan="2" align="center">surrive</td>
            </tr>
            <tr>
                <td rowspan="2" align="center" width="200">Science Teacher</td><td align="center">XES Training School</td><td align="center">2022</td>
                </tr>
                <tr>
                <td bgcolor="lightblue" colspan="2" align="center">surrive</td>
                </tr>>



            
            
            </table>


    </center>

</body>
</html>